<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <!-- Logo -->
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ relURL ($.Site.BaseURL) }}">
                <img src={{"images/logo-black.jpg" | absURL }} alt="logmate"/>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="main-nav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <!-- Menu-->
        {{ $cp := .File.UniqueID }}

        <div id="main-nav" class="navbar-menu">
            <div class="navbar-start">
                {{$list := where .Site.RegularPages "Section" "products" }}
                {{range $p := sort $list ".Title" }}
                <a href="{{$p.Permalink}}"
                   class="navbar-item {{if eq $p.UniqueID $cp}}is-active{{end}}">{{$p.Title}}</a>
                {{ end }}
            </div>

            <div class="navbar-end">

                <div class="navbar-item">
                    <a class="button is-primary modal-button" data-target="modal-login">
                        Log in
                    </a>
                </div>

                <div class="navbar-item">
                    <a class="button is-light modal-button" data-target="modal-signup">
                        Sign up
                    </a>
                </div>
            </div>

        </div>
    </nav>


    <div id="modal-login" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <h3 class="title has-text-white-bis">I'm a Driver and want to manage my logbook and my account
                        ...</h3>
                    <p class="">
                        <a class="button is-large is-primary" href="http://driver.ruby.logmate.co.nz/account/sign_in">Driver
                            Admin</a>
                    </p>
                </div>
                <div class="column has-text-centered">
                    <h3 class="title has-text-white-bis">I'm work for a Transport Operator and want to manage our
                        Drivers and account..</h3>
                    <p class="">
                        <a class="button is-large is-success" href="https://operator.logmate.co.nz/account/sign_in">Operator
                            Admin</a>
                    </p>
                </div>
            </div>

        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="modal-signup" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <h3 class="title has-text-white-bis">I'm a Driver and want to setup an account so I can use the
                        Logbook App ...</h3>
                    <p class="">
                        <a class="button is-large is-primary" href="http://driver.ruby.logmate.co.nz/account/sign_up">Driver
                            Registration</a>
                    </p>
                </div>
                <div class="column has-text-centered">
                    <h3 class="title has-text-white-bis">I'm work for a Transport Operator and want to register an
                        account so I can manage our Drivers ..</h3>
                    <p class="">
                        <a class="button is-large is-success" href="https://operator.logmate.co.nz/account/sign_up">Operator
                            Registration</a>
                    </p>
                </div>
            </div>

        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script type="application/javascript">

        // Functions
        function getAll(selector) {
            return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
        }

        // root element
        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-close, .modal-background')

        // Modal
        function openModal(target) {
            var $target = document.getElementById(target);
            rootEl.classList.add('is-clipped');
            $target.classList.add('is-active');
        }

        function closeModals() {
            rootEl.classList.remove('is-clipped');
            $modals.forEach(function ($el) {
                $el.classList.remove('is-active');
            });
        }

        // Modal Event listeners

        if ($modalButtons.length > 0) {
            $modalButtons.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    openModal(target);
                });
            });
        }

        if ($modalCloses.length > 0) {
            $modalCloses.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    closeModals();
                });
            });
        }

        // Toggle Event Listeners

        var $burgers = getAll('.burger');

        if ($burgers.length > 0) {
            $burgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }


    </script>

</div>