<nav class="container is-fluid navbar" role="navigation" aria-label="main navigation">
    <!-- Logo -->
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ relURL ($.Site.BaseURL) }}">
            <img src={{"images/logo-black.jpg" | absURL }} alt="logmate"/>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="main-nav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <!-- Menu-->
    {{ $cp := .File.UniqueID }}

    <div id="main-nav" class="navbar-menu">
        <div class="navbar-start">
            {{$list := where .Site.RegularPages "Section" "products" }}
            {{range $p := sort $list ".Title" }}
            <a href="{{$p.Permalink}}" class="navbar-item {{if eq $p.UniqueID $cp}}is-active{{end}}">{{$p.Title}}</a>
            {{ end }}
        </div>

        <div class="navbar-end">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Log in
                </a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">Driver Admin</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Operator Admin</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Enforcement Admin</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">Sign up</a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">Driver</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Transport Operator</a>
                </div>
            </div>
<!--            <a class="navbar-item" href="/about/company">About</a>-->
        </div>

    </div>
</nav>
