
<div class="columns has-text-centered is-centered">
    <div class="column is-two-thirds">
        &copy; 2019 Tierra Technologies Limited. "logmate" is a trademark of Tierra Technologies Limited.
    </div>
</div>
<div class="columns has-text-centered is-centered">
    <div class="column is-narrow">
        <div class="level is-mobile">
            <div class="level-item">designed, developed &amp; operated in</div>
            <div class="level-item">
                <span class="icon is-large">
                    <img src={{"images/np_new-zealand_585823_000000.svg" | absURL}} alt="New Zealand" title="New Zealand">
                </span>
            </div>
            <div class="level-item">by a cohort of</div>
            <div class="level-item">
                <span class="icon is-medium">
                    <img src={{"images/np_kiwi_1010_000000.svg" | absURL }} alt="Kiwi bird">
                </span>
            </div>
        </div>


    </div>
</div>