// Set your brand colors
$blue: #09398a;
$pink: #FA7C91;
$orange: #772f10;
$white: #ffffff;
$red: #ff151a;

$grey-dark: #727272;
$grey-light: #c3c3c3;

// colour classes
.red {
  color: $red;
}

.gold {
  color: goldenrod;
}