.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  transition: background 0.15s linear; }
  @media (max-width: 768px) {
    .navbar-default .navbar-collapse {
      background-color: #fff !important; }
      .home .navbar-default .navbar-collapse a {
        color: #208ac7 !important; }
        .home .navbar-default .navbar-collapse a:hover {
          color: #208ac7 !important; } }
  .navbar-default .navbar-toggle {
    background-color: transparent !important;
    border: none !important;
    margin-top: 22px; }
    .navbar-default .navbar-toggle .icon-bar {
      width: 35px !important;
      height: 6px !important;
      border-radius: 3px !important;
      background-color: #1c89c5 !important; }
      .home .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important; }
  .navbar-default .navbar-right {
    margin-top: 20px;
    font-size: 16px; }
    .home .navbar-default .navbar-right li.open a {
      color: #208ac7; }
    .home .navbar-default .navbar-right li li a {
      color: #208ac7; }
      .home .navbar-default .navbar-right li li a:hover {
        color: #208ac7; }
    .home .navbar-default .navbar-right a {
      color: #fff; }
      .home .navbar-default .navbar-right a:hover {
        color: #208ac7; }
  .navbar-default h1 a {
    display: block;
    width: 200px;
    height: 49px;
    margin: 20px 0;
    overflow: hidden;
    background-image: url("images/logo.png");
    background-size: 200px 49px;
    text-indent: -999em !important; }
    .navbar-default h1 a:before {
      content: "";
      display: block;
      width: 0;
      height: 100%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .navbar-default h1 a {
        background-image: url("images/logo_2x.png");
        background-size: 200px 49px; } }
    .home .navbar-default h1 a {
      background-image: url("images/logo-white.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .home .navbar-default h1 a {
          background-image: url("images/logo-white_2x.png");
          background-size: 200px 49px; } }
  @media (max-width: 768px) {
    .navbar-default h1 a {
      margin-left: 15px; } }
  .navbar-default.alt {
    background-color: #fff !important;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25); }
    .navbar-default.alt h1 a {
      background-image: url("images/logo.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .navbar-default.alt h1 a {
          background-image: url("images/logo_2x.png");
          background-size: 200px 49px; } }
    .navbar-default.alt .navbar-toggle .icon-bar {
      background-color: #1c89c5 !important; }
    .navbar-default.alt .navbar-right li a {
      color: #208ac7; }
      .navbar-default.alt .navbar-right li a:hover {
        color: #208ac7; }

.jumbotron h1 {
  font-size: 50px !important; }
.jumbotron p {
  font-size: 18px !important; }
@media (max-width: 1200px) {
  .jumbotron .col-md-6 h1 {
    font-size: 40px !important; }
  .jumbotron .col-md-6 p {
    display: inline-block;
    padding: 3px 6px;
    font-size: 14px !important;
    background: rgba(0, 0, 0, 0.65);
    color: #fff; } }
@media (max-width: 992px) {
  .jumbotron .margin-top-100 {
    margin-top: 50px !important; }
  .jumbotron .custom-controls-slider {
    margin-bottom: 10px !important; }
  .jumbotron .col-md-6 h1 {
    font-size: 30px !important; } }
@media (max-width: 768px) {
  .jumbotron {
    padding: 0 !important;
    background-position: center center !important; }
    .jumbotron .margin-top-100 {
      margin-top: 50px !important; }
    .jumbotron .col-md-6 h1 {
      margin-top: 8px !important;
      font-size: 24px !important;
      color: #fff !important;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
    .jumbotron .col-md-6 p {
      font-size: 13px !important; } }

#suitable-for {
  padding: 30px 0 40px 0; }
  @media (max-width: 991px) {
    #suitable-for {
      padding: 0; }
      #suitable-for .col-lg-4 {
        overflow: auto;
        border-top: 1px solid #ccc;
        padding: 15px 0 10px 0; }
        #suitable-for .col-lg-4:first-of-type {
          border-top: none; }
      #suitable-for h3 {
        font-size: 16px; } }

#free-trial {
  padding: 30px 0 40px 0; }
  @media (max-width: 768px) {
    #free-trial h2 {
      font-size: 30px !important; }
    #free-trial h3 {
      font-size: 20px !important; } }

#benefits {
  padding: 40px 0 30px 0;
  background: #1c89c5 !important; }
  #benefits .row {
    padding: 15px 0; }
    #benefits .row img {
      margin-top: 10px; }
  #benefits .text-info {
    margin-top: 0;
    color: #7dd1ff; }
  #benefits .lead {
    margin-bottom: 0; }

#testimonials {
  padding: 0 0 20px 0; }
  #testimonials h2 {
    margin: 50px 0 30px 0; }
  #testimonials p {
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
    position: relative; }
    #testimonials p:before {
      content: '\201C';
      display: block;
      position: absolute;
      top: -35px;
      left: -25px;
      z-index: 0;
      font-size: 60px;
      color: #999;
      font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif !important;}
  @media (max-width: 768px) {
    #testimonials .text-center:first-of-type {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px; }
    #testimonials .padding-lg {
      padding: 20px 20px !important; }
    #testimonials p:before {
      font-size: 30px !important;
      top: 5px; } }
  #testimonials .custom-controls-slider {
    margin-bottom: 0; }

#contact .inputs {
  margin-top: 20px !important;
  float: none !important;
  padding: 0 !important; }

@media (max-width: 991px) {
  .about #page-navigation-region {
    height: 90px; }
    .about #page-navigation-region .affix {
      position: static; }
    .about #page-navigation-region li {
      float: left !important; } }
@media (max-width: 440px) {
  .about #page-navigation-region {
    height: 140px; }
    .about #page-navigation-region li {
      width: 50%; }
      .about #page-navigation-region li a {
        display: inline-block; } }
.about .story {
  width: 100% !important;
  padding: 60px 15px !important;
  margin-top: 90px;
  margin-bottom: 30px;
  background: url('images/placeit.jpg') top center no-repeat;
  background-size: cover; }
  .about .story .row {
    max-width: 1170px !important;
    margin: 0 auto; }
    .about .story .row h1, .about .story .row p {
      color: #fff !important;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
    .about .story .row p {
      font-size: 40px;
      letter-spacing: 1px;
      margin: 0 !important; }
.about .events {
  padding: 20px 15px !important; }
  .about .events .text-center h2 {
    margin-top: 0 !important; }

#footer-region {
  padding-top: 40px; }
  #footer-region p {
    margin: 20px 0; }
  @media (max-width: 768px) {
    #footer-region .footer-nav-links {
      border-left: none !important;
      padding-left: 5px;
      margin-left: 0px; } }
