<div class="margin-biggest">
    <div class="pricing-table  is-comparative">
        <div class="pricing-plan is-features">
            <div class="plan-header">
                <h3 class="title">Features</h3>
            </div>
            <!--        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>-->
            <div class="plan-items">
                <div class="plan-item">Free to register</div>
                <div class="plan-item">No Fixed term contracts. Cancel anytime</div>
                <div class="plan-item">Purchase Logbook subscription (s)</div>
                <div class="plan-item">Dedicated Admin panel</div>
                <div class="plan-item">Unlimited Logbook data storage</div>
                <div class="plan-item">Unlimited Customer Support - Chat &amp; Email only</div>
                <div class="plan-item">Unlimited Admin Users</div>
                <div class="plan-item">Ongoing access to all historic Work-time records</div>
                <div class="plan-item">Real-time compliance reports</div>
            </div>
            <div class="plan-footer">&nbsp;</div>
        </div>


        <div class="pricing-plan">
            <div class="plan-header">
                <h3 class="title">Drivers</h3>
            </div>
            <!--        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>-->
            <div class="plan-items">
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item">Own only</div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item">-</div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item">Own logbook</div>
            </div>
            <div class="plan-footer">&nbsp;</div>
        </div>

        <div class="pricing-plan">
            <div class="plan-header">
                <h3 class="title">Transport Operators</h3>
            </div>
            <!--        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>-->
            <div class="plan-items">
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item">Charged per Driver <sup>*</sup></div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item"><span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="plan-item">All current Drivers</div>
            </div>
            <div class="plan-footer" style="font-size: small; text-align: left; font-style: italic;">
                * Drivers can supply own Logbook subscription.
            </div>
        </div>
    </div>
