<div class="margin-moderate">
    <div class="notification is-warning">
        <p><strong>Changes coming soon!</strong></p>
        <p>
            We are working on a new platform which will see changes to Services &amp; Pricing plans for Transport Operators in Q3 2021.
        </p>

    </div>

    <div class="pricing-table  is-comparative">
        <div class="pricing-plan is-features">
            <div class="plan-header">
                <h3 class="title ">Features</h3>
            </div>
            <!--        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>-->
            <div class="plan-items">
                <div class="plan-item">Free to register</div>
                <div class="plan-item">NO Fixed term contracts</div>
                <div class="plan-item">Manage Logbook subscription</div>
                <div class="plan-item">Dedicated Admin panel</div>
                <div class="plan-item">Logbook data Storage</div>
                <div class="plan-item">Customer Support</div>
                <div class="plan-item">Account Administrators</div>
                <div class="plan-item">Access to Work-time records</div>
                <div class="plan-item">Real-time compliance reports</div>
            </div>
            <div class="plan-footer">&nbsp;</div>
        </div>


        <div class="pricing-plan">
            <div class="plan-header">
                <h3 class="title">Drivers</h3>
            </div>
            <!--        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>-->
            <div class="plan-items">
                <div class="plan-item" data-feature="Free  to register"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="NO Fixed term contracts"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="Manage Logbook subscription">Own only</div>
                <div class="plan-item" data-feature="Dedicated Admin panel"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="Logbook data Storage">Unlimited</div>
                <div class="plan-item" data-feature="Customer Support">Live Chat or Email - 7 days / week</div>
                <div class="plan-item" data-feature="Account Administrators">self only</div>
                <div class="plan-item" data-feature="Access to Work-time records"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="Real-time compliance reports">Own logbook</div>
            </div>
            <div class="plan-footer">&nbsp;</div>
        </div>

        <div class="pricing-plan">
            <div class="plan-header">
                <h3 class="title">Transport Operators</h3>
            </div>
            <!--        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>-->
            <div class="plan-items">
                <div class="plan-item" data-feature="Free  to register"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="NO Fixed term contracts"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="Manage Logbook subscription">All Drivers *</div>
                <div class="plan-item" data-feature="Dedicated Admin panel"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="Logbook data Storage">Unlimited</div>
                <div class="plan-item" data-feature="Customer Support">Live Chat or Email - 5 days / week</div>
                <div class="plan-item" data-feature="Account Administrators">Unlimited</div>
                <div class="plan-item" data-feature="Access to Work-time records"><span class="icon is-small has-text-primary"><i class="fas fa-check-circle"></i></span></div>
                <div class="plan-item" data-feature="Real-time compliance reports">All current Drivers</div>
            </div>
            <div class="plan-footer" style="font-size: small; text-align: left; font-style: italic;">
                * Drivers can supply own Logbook subscription.
            </div>
        </div>
    </div>
</div>