<div class="container pricing-table">
    <div class="pricing-plan">
        <div class="plan-header">
            <h3 class="title">Transport Operator account</h3>
        </div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>0<span
                style="font-size: smaller">.00</span></span> / month<sup>1</sup></div>
        <div class="plan-items">
            <div class="plan-item">Perpetual access to related Work-time records<sup>2</sup></div>
            <div class="plan-item">Dedicated web-based Admin panel <a href="https://operator.logmate.co.nz"
                                                                      target="_blank"><span class="icon"><i
                    class="fa fa-sign-in"></i></span></a></div>
            <div class="plan-item">Unlimited Admin user accounts</div>
            <div class="plan-item">Provide Drivers with Logbook subscription<sup>3</sup></div>
            <div class="plan-item">Unlimited Customer Support - Chat &amp; Email only</div>
            <div class="plan-item">No Fixed term contracts. Cancel anytime</div>
        </div>
        <div class="plan-footer" style="font-size: small; text-align: left; font-style: italic;">
            <ol style="padding-left: 20px;">
                <li>Additional charges may apply</li>
                <li>Historic Work-time record access requires Vehicle driven to include nominated TSL Holder at
                    time of entry
                </li>
                <li>Incurs a Logbook subscription / driver / month</li>
                <li>Access to a Drivers' Work-time history may incur additional charges when a logbook
                    subscription is provided by another party
                </li>
            </ol>
        </div>
    </div>
</div>