<div class="margin-biggest">
    <div class="pricing-table">
        <div class="pricing-plan is-active">
            <div class="plan-header">
                <h3 class="title">Logbook subscription</h3>
            </div>
            <div class="plan-price">
                <div class="plan-price-amount">
                    <span class="plan-price-currency">$</span>11<span style="font-size: smaller">.95</span>
                </div>
                / month
            </div>
            <div class="plan-items">
                <div class="plan-item">Unrestricted use of Mobile App (iOS or Android)</div>
                <div class="plan-item">Automatic logbook delivery to TSL Holders</div>
                <div class="plan-item">Unlimited Vehicles</div>
                <div class="plan-item">Unlimited TSL Holders</div>
                <div class="plan-item">No Fixed term contracts. Cancel anytime</div>
            </div>
            <div class="plan-footer" style="text-align: left; font-size: smaller;">
                <ol>
                    <li>An active subscription is required to record logbook entries.</li>
                    <li>Logbook subscriptions can be purchased from Transport Operator or Driver accounts.</li>
                    <li>All prices are NZD and inclusive of GST, unless otherwise stated.</li>
                </ol>
            </div>
        </div>

    </div>
</div>