<div class="pricing-table is-comparative">
    <div class="pricing-plan">
        <div class="plan-header" style="padding-top: 2rem; padding-bottom: 1rem;">
            <h3 class="title" style="margin-bottom: 0 !important;">Logbook subscription</h3>
        </div>
        <div class="plan-price" style="padding: 1rem 0;">
            <div class="plan-price-amount">
                <span class="plan-price-currency">$</span><span class="has-text-primary" style="font-size: 2.5rem;">10<span style="font-size: smaller">.95</span></span>
                <span class="is-size-7">/ month<sup>*</sup></span>
            </div>
        </div>
        <div class="plan-items">
            <div class="plan-item">Unrestricted use of Mobile App (iOS or Android)</div>
            <div class="plan-item">Automatic logbook delivery to TSL Holders</div>
            <div class="plan-item">Unlimited Vehicles</div>
            <div class="plan-item">Unlimited TSL Holders</div>
            <div class="plan-item">No Fixed term contracts. Cancel anytime</div>
        </div>
        <div class="plan-footer" style="text-align: left; font-size: smaller;">
            <ol>
                <li>An active subscription is required to record logbook entries.</li>
                <li>Logbook subscriptions can be purchased from Transport Operator or Driver accounts.</li>
                <li>All prices are NZD and inclusive of GST, unless otherwise stated.</li>
            </ol>
        </div>
    </div>
</div>