<!--Modals-->
<div id="modal-login" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="columns is-centered">
            <div class="column has-text-centered">
                <h3 class="title has-text-white-bis">I'm a Driver and want to manage my logbook and my account
                    ...</h3>
                <p class="">
                    <a class="button is-large is-primary" href="http://driver.logmate.co.nz/account/sign_in">Driver
                        Admin</a>
                </p>
            </div>
            <div class="column has-text-centered">
                <h3 class="title has-text-white-bis">I work for a Transport Operator and want to manage our
                    Drivers and account ...</h3>
                <p class="">
                    <a class="button is-large is-success" href="https://operator.logmate.co.nz/account/sign_in">Operator
                        Admin</a>
                </p>
            </div>
        </div>

    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="modal-signup" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="columns is-centered">
            <div class="column has-text-centered">
                <h3 class="title has-text-white-bis">I'm a Driver and want to setup an account so I can use the
                    Logbook App ...</h3>
                <p class="">
                    <a class="button is-large is-primary" href="http://driver.logmate.co.nz/account/sign_up">Driver
                        Registration</a>
                </p>
            </div>
            <div class="column has-text-centered">
                <h3 class="title has-text-white-bis">I work for a Transport Operator and want to register an
                    account so I can manage our Drivers ..</h3>
                <p class="">
                    <a class="button is-large is-success" href="https://operator.logmate.co.nz/account/sign_up">Operator
                        Registration</a>
                </p>
            </div>
        </div>

    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<!--Footer-->
<div class="columns is-centered has-text-centered">
    <div class="column is-3">
        <p class="content">
            Owned &amp; operated<br/>by <span class="has-text-weight-bold">Tierra Technologies Ltd</span>
        </p>
        <p>
            <span class="icon is-large">
            <img src={{"images/np_new-zealand_585823_000000.svg" | relURL}} alt="New Zealand Owned & Operated"
                 title="New Zealand">
        </span>
        </p>

    </div>

    <div class="column is-narrow">
        <p class="menu-label">Products</p>
        <ul class="menu-list">
            {{$list := where .Site.RegularPages "Section" "products" }}
            {{range $p := sort $list ".Title" }}
            <li>
                <a href="{{$p.RelPermalink}}" class="menu-item">{{$p.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="column is-narrow">
        <p class="menu-label">About</p>
        <ul class="menu-list">
            {{$list := where .Site.RegularPages "Section" "about" }}
            {{range $p := sort $list ".Title" }}
            <li>
                <a href="{{$p.RelPermalink}}" class="menu-item">{{$p.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="column is-narrow">
        <p class="menu-label">Resources</p>
        <ul class="menu-list">
            {{$list := where .Site.RegularPages "Section" "resource" }}
            {{range $p := sort $list ".Title" }}
            <li>
                <a href="{{$p.RelPermalink}}" class="menu-item">{{$p.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="column is-narrow">
        <p class="menu-label">Policies</p>
        <ul class="menu-list">
            {{ $list := where .Site.RegularPages "Section" "policies" }}
            {{range $p := sort $list ".Title" }}
            <li>
                <a href="{{$p.RelPermalink}}" class="menu-item">{{$p.Title}}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>

<div class="columns has-text-centered is-centered">
    <div class="column is-one-third">
        <span class="content is-small">
            &copy; 2019 Tierra Technologies Limited. "logmate" is a trademark of Tierra Technologies Limited.
        </span>
    </div>
</div>

<script type="application/javascript">

    // Functions
    function getAll(selector) {
        return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
    }

    // root element
    var rootEl = document.documentElement;
    var $modals = getAll('.modal');
    var $modalButtons = getAll('.modal-button');
    var $modalCloses = getAll('.modal-close, .modal-background')

    // Modal
    function openModal(target) {
        var $target = document.getElementById(target);
        rootEl.classList.add('is-clipped');
        $target.classList.add('is-active');

        // check if current position is below fold
        window.scrollTo(0,0);
    }

    function closeModals() {
        rootEl.classList.remove('is-clipped');
        $modals.forEach(function ($el) {
            $el.classList.remove('is-active');
        });
    }

    // Modal Event listeners

    if ($modalButtons.length > 0) {
        $modalButtons.forEach(function ($el) {
            $el.addEventListener('click', function () {
                var target = $el.dataset.target;
                openModal(target);
            });
        });
    }

    if ($modalCloses.length > 0) {
        $modalCloses.forEach(function ($el) {
            $el.addEventListener('click', function () {
                closeModals();
            });
        });
    }

    // Toggle Event Listeners

    var $burgers = getAll('.burger');

    if ($burgers.length > 0) {
        $burgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
                var target = $el.dataset.target;
                var $target = document.getElementById(target);
                $el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    }


</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40780746-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-40780746-1');
</script>

