{{ define "main" }}

<section class="section">
    <div class="columns is-centered is-mobile">
        <div class="column is-1">
            <aside class="menu">
                {{ $cp := .File.UniqueID }}
                <p class="menu-label">General</p>
                <ul class="menu-list">
                    <li class="menu-item">
                        {{ with .Site.GetPage "about" }}<a href="{{.Permalink}}" class="{{if eq .UniqueID $cp}}is-active{{end}}">{{ .Title }}</a>{{ end }}
                    </li>
                </ul>
                <p class="menu-label">Policies</p>
                <ul class="menu-list">
                    {{range $p := where .Site.RegularPages "Section" "policies" }}
                    <li>
                        <a href="{{$p.Permalink}}" class="{{if eq $p.UniqueID $cp}}is-active{{end}}">{{$p.Title}}</a>
                    </li>
                    {{ end }}
                </ul>
            </aside>
        </div>

        <div class="column is-9 content">
            {{ .Content }}
        </div>
    </div>
</section>


{{ end }}
