<section class="section has-background-white-bis" style="">
    <div class="columns is-centered has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">We <span class="icon red"><i class="fa fa-heart"></i></span> our Customers</h3>
        </div>
    </div>
    <div class="columns is-centered is-multiline is-vcentered is-mobile">
        {{ range $i,$c := .Site.Data.home.customers }}

            {{ if (modBool $i 8) }}
            <div class="column is-2 is-narrow"></div>
            {{ end }}

            <div class="column is-1 is-narrow">
                <figure class="image is-fullwidth">
                    <img title="{{ .title }}" src="{{ .image.file_name | relURL }}" alt="{{ .title }}">
                </figure>
            </div>
        {{ end }}
    </div>
</section>