<section class="section">
    <div class="container">
        <div class="columns is-centered has-text-centered">
            <div class="column is-half">
                <h3 class="title">We <span class="icon red"><i class="fa fa-heart"></i></span> our Customers</h3>
            </div>
        </div>
    </div>
    
    <div class="logos">
        <div class="logos-slide">
            {{ range $i,$c := sort .Site.Data.home.customers "name" "asc"}}
            <div class="logo-item">
                <img title="{{ .title }}" src="{{ .image.file_name | relURL }}" alt="{{ .title }}">
            </div>
            {{ end }}
        </div>
        
        <div class="logos-slide">
            {{ range $i,$c := sort .Site.Data.home.customers "name" "asc"}}
            <div class="logo-item">
                <img title="{{ .title }}" src="{{ .image.file_name | relURL }}" alt="{{ .title }}">
            </div>
            {{ end }}
        </div>
    </div>
</section>