<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-variable is-8">
                <div class="column is-half">
                    <h1 class="hero-title has-text-weight-bold">
                        Digital Logbook.<br>
                        <span class="highlight">No Stress.</span>
                    </h1>
                    <div class="hero-content">
                        <h2 class="subtitle is-3 has-text-weight-medium mb-5">
                            Simplified logbook management & compliance
                        </h2>
                        <p class="subtitle is-5 has-text-grey-dark mb-6">
                            An electronic work-time management system for all Drivers & Operators in New Zealand.
                        </p>
                    </div>
                    <div class="buttons">
                        <a class="button is-success is-large modal-button" data-target="modal-signup">
                            Start Free Trial
                        </a>
                        <a class="button is-light is-large" href="/products/drivers-logbook/">
                            Learn More
                        </a>
                    </div>
                </div>
                <div class="column is-half">
                    <figure class="image">
                        <img src="images/v2-devices.png" alt="logmate tools">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>