<section class="section hero is-small" >
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns is-vcentered">
                <div class="column is-half has-text-centered">
                    <h1 class="title is-1" style="padding-bottom: 20px; font-style: italic">
<!--                        <span style="font-style: normal; font-size: smaller">Simplify</span><br />Logbook &amp; Work-time<br /><span style="font-size: smaller; font-style: normal"> compliance</span>-->
                        100% mobile.
                    </h1>
                    <h2 class="subtitle is-2">Genuine safety &amp; compliance tools</h2>

<!--                    <div class="container ">-->
<!--                        <img src="images/nzta-approved.png" alt="logmate is an NZ Transport Agency approved Electronic Logbook platform" />-->
<!--                    </div>-->
                </div>
                <div class="column">
                    <figure class="image ">
                        <img src="images/v2-devices.png" alt="logmate tools include a logbook app and admin portals">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>