<section class="section has-background-white-bis" style="padding-top: 40px; ">
    <div class="columns is-centered has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">Why ?</h3>
        </div>
    </div>
    <div class="container">
        <div class="columns is-centered has-text-centered">
            <div class="column is-4">
                <div class="columns is-centered is-mobile">
                    <div class="column is-narrow">
                        <figure class="image is-96x96">
                            <img title="risks" src="images/np_fire-extinguisher_593674_000000.svg" alt="risks" >
                        </figure>
                    </div>
                </div>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Risk Mitigation
                    </span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="">
                    Reduce risk of Fines &amp; Prosecution.
                    </span>
                </p>
            </div>
            <div class="column is-4">
<!--                <p style="text-align: center; font-size: xx-large">-->
<!--                    <span class="fas fa-balance-scale"></span>-->
<!--                </p>-->


                <div class="columns is-centered is-mobile">
                    <div class="column is-narrow">
                        <figure class="image is-96x96">
                            <img title="risks" src="images/np_justice_2332814_000000.svg" alt="risks" >
                        </figure>
                    </div>
                </div>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Compliance
                    </span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    Meet your <span style="font-style: italic">Health &amp; Safety process</span> obligations and
                    streamline your <span style="font-style: italic">Logbook</span> administration.
                </p>
            </div>
            <div class="column is-4">
<!--                <p style="text-align: center; font-size: xx-large">-->
<!--                    <span class="fas fa-medal"></span>-->
<!--                </p>-->

<!--                np_leadership_1871904_000000.svg-->
                <div class="columns is-centered is-mobile">
                    <div class="column is-narrow">
                        <figure class="image is-96x96">
                            <img title="risks" src="images/np_leadership_1871904_000000.svg" alt="risks" >
                        </figure>
                    </div>
                </div>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Industry leadership
                    </span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="">
                    Demonstrate a <span style="font-style: italic">genuine commitment</span> to Safety.
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>