<section class="section has-background-white-bis" style="padding-top: 40px;">
    <div class="columns is-centered has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">Why <i>logmate</i> ?</h3>
        </div>
    </div>

    <div class="columns is-centered has-text-centered">
        <div class="column">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_fire-extinguisher_593674_000000.svg" alt="risks">
                    </figure>
                </div>
            </div>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Risk Mitigation
                    </span>
            </p>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span>
                    What are the risks?
                    </span>

            </p>
            <p style="margin-top: 10px;">Drivers can be fined up to $2,000 and disqualified from driving for at least 1
                month</p>
            <p style="margin-top: 10px;">Transport Operators face fines up to $25,000</p>
        </div>
        <div class="column">

            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_justice_2332814_000000.svg" alt="risks">
                    </figure>
                </div>
            </div>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Compliance
                    </span>
            </p>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                Address <span style="font-style: italic">Health &amp; Safety</span> requirements
            </p>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                Simplify <span style="font-style: italic">Work-time & Logbook</span> administration
            </p>
            <p style="margin-top: 10px;">Turn-key compliance processes</p>
            <p style="margin-top: 10px;">Real-time reporting</p>

        </div>
        <div class="column">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_leadership_1871904_000000.svg" alt="risks">
                    </figure>
                </div>
            </div>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Reputation
                    </span>
            </p>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="">
                    Demonstrate <span style="font-style: italic">commitment</span> to safety of People &amp; Passengers
                    </span>
            </p>
            <p style="margin-top: 10px;">Ensure your Income</p>
            <p style="margin-top: 10px;">Protect your ORS rating</p>
            <p style="margin-top: 10px;">Get Home Safe</p>

        </div>
        <div class="column">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_shred_377963_000000.svg"
                             alt="no contracts or special hardware required">
                    </figure>
                </div>
            </div>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        No Gotchas
                    </span>
            </p>
            <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="">
                    Leverage <span style="font-style: italic">commodity</span> mobile devices
                    </span>
            </p>
            <p style="margin-top: 10px;">Support for iOS & Android</p>
            <p style="margin-top: 10px;">NO fixed-term contracts</p>
            <p style="margin-top: 10px;">NO special hardware required</p>

        </div>

    </div>

</section>