<section class="section">
<!--    <div class="columns is-centered has-text-centered">-->
<!--        <div class="column has-text-centered">-->
<!--            <a class="button is-fullwidth modal-button has-text-centered" data-target="modal-signup">-->
<!--                Start your FREE Trial-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container is-centered has-text-centered">
        <a class="button is-rounded is-primary is-large has-text-centered" data-target="modal-signup">
            <p class="has-text-centered">Start your FREE Trial Now</p>
        </a>
    </div>
</section>