<section class="section is-fullhd has-background-white-bis" style="padding-top: 40px; padding-bottom: 40px;">
    <div class="columns is-centered has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">Meets All Drivers needs</h3>
        </div>
    </div>
    <div class="columns has-text-centered is-centered has-text-centered">
        <div class="column is-narrow">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image">
                        <img src="images/nzta-approved-transparent-bg.png"
                             alt="logmate is an NZ Transport Agency approved Electronic Logbook platform"
                             style="max-width: 250px;"/>
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_e-hailing-application_1927237_000000.svg"
                             alt="ride-share drivers">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_taxi_564272_000000.svg" alt="taxi drivers">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_truck_2067570_000000.svg" alt="truck drivers">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="columns is-centered is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img title="risks" src="images/np_bus_2226129_000000.svg" alt="bus drivers">
                    </figure>
                </div>
            </div>
        </div>
    </div>

</section>