<section class="section is-fullhd has-background-white-bis" style="padding-top: 40px; padding-bottom: 40px;">
    <div class="columns is-centered has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">A 100% mobile Drivers Logbook solution</h3>
        </div>
    </div>
    <div class="columns has-text-centered is-centered">
        <div class="column is-narrow">
            <div class="level is-mobile">
                <figure class="image level-item">
                    <img src="images/nzta-approved-transparent-bg.png" alt="logmate is an NZ Transport Agency approved Electronic Logbook platform" style="max-width: 250px;" />
                </figure>
                <a class="button is-dark is-large level-item" href="http://play.google.com/store/apps/details?id=nz.co.logmate.app">
                    <img src="images/googleplay.png" alt="Available from Google Play">
                </a>
                <a class="button is-dark is-large level-item" href="https://itunes.apple.com/nz/app/logmate/id881398880?mt=8&amp;uo=4" target="itunes_store">
                    <img src="images/appstore.png" alt="Available on the AppStore" >
                </a>
            </div>
        </div>

    </div>
    <div class="container has-text-centered">
        <a class="link has-text-weight-bold modal-button" data-target="modal-signup">
            Start your FREE 21 day trial! <span class="icon"><i class="fa fa-play-circle"></i></span>
        </a>
    </div>
</section>