<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body class="">
{{ partial "header.html" . }}

<section class="section">
<div class="columns is-centered is-mobile">
    <div class="column is-1">
        <aside class="menu">
            <p class="menu-label">Policies</p>
            <ul class="menu-list">
                {{ $cp := .Page.UniqueID }}
                {{range $p :=  where .Site.RegularPages "Section" "policies" }}
                <li>
                    <a href="{{$p.Permalink}}" class="{{if eq $p.UniqueID $cp}}is-active{{end}}">{{$p.Title}}</a>
                </li>
                {{ end }}
            </ul>
        </aside>
    </div>

    <div class="column is-9">
        {{ .Content }}
    </div>
</div>
</section>
{{ partial "footer.html" . }}

</body>
</html>





