<div class="container">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-half has-text-centered">
                        <h1 class="title is-4" style="padding-bottom: 20px; font-style: italic">
                            NZ Transport Agency approved
                        </h1>
                    </div>
                    <div class="column">
                        <figure class="image ">
                            <img src={{"images/nzta-approved-transparent-bg.png" | absURL}}
                                 alt="logmate is an NZ Transport Agency approved Electronic Drivers Logbook since 2014">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>