<div class="container margin-biggest">
    <div class="columns has-text-centered is-centered is-vcentered">
        <div class="column is-narrow">
            <figure class="image level-item">
                <img src={{"images/nzta-approved-transparent-bg.png" | relURL}} alt="logmate is an NZ Transport Agency approved Electronic Logbook platform" style="max-width: 250px;" />
            </figure>
        </div>

        <div class="column is-narrow">

            <a class="button is-dark is-large level-item" href="http://play.google.com/store/apps/details?id=nz.co.logmate.app">
                <img src={{"images/googleplay.png" | relURL}} alt="Available from Google Play">
            </a>

        </div>

        <div class="column is-narrow">
            <a class="button is-dark is-large level-item" href="https://itunes.apple.com/nz/app/logmate/id881398880?mt=8&amp;uo=4" target="itunes_store">
                <img src={{"images/appstore.png" | relURL}} alt="Available on the AppStore" >
            </a>
        </div>

    </div>
</div>