<div class="section timeline">
    <header class="timeline-header">
        <span class="tag is-primary">1. Start work</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-success">Start New Shift</span></p>
            <p class="content">Select work mode, <span class="tag is-primary">Other Duty</span> or <span class="tag is-primary">Drive</span></p>
            <p class="content">Enter Started At time and location</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-success">Save</span></p>
            <p class="content"><span class="has-text-info has-text-weight-bold">On Duty</span> countdown from 14 hrs begins</p>
            <p class="content"><span class="has-text-success has-text-weight-bold">Next Break In</span> countdown timer displayed</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-warning">2. Take a break</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-success">Rest break</span></p>
            <p class="content"><span class="has-text-info has-text-weight-bold">End Break</span> countdown from 30 mins begins</p>
            <p class="content">A Rest break must be <i>>= 30 mins</i> to be considered legal.<br/>Otherwise it counts as work-time.</p>
            <p class="content"><span class="has-text-info has-text-weight-bold">On Duty</span> countdown continues</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-success">Save</span></p>
            <p class="content"><span class="has-text-danger has-text-weight-bold">Resume Work In</span> countdown timer displayed</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">3. Continue working</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-info">Drive</span> or <span class="tag is-info">Other Duty</span></p>
            <p class="content">Enter Started At time and location</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-success">Save</span></p>
            <p class="content"><span class="has-text-info has-text-weight-bold">On Duty</span> countdown continues</p>
            <p class="content"><span class="has-text-success has-text-weight-bold">Next Break In</span> countdown timer displayed</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-warning">4. Finish work</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="has-text-info">Menu</span> > <span class="has-text-danger">End Shift</span></p>
            <p class="content">Enter Ended At time and location</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-primary">Save</span></p>
            <p class="content"><span class="has-text-info has-text-weight-bold">On Duty</span> countdown stops</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-danger">5. Lock shift</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-primary">Review & Lock Shift</span> </p>
            <p class="content">Last chance to make modifications to your Logbook</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Tap <span class="tag is-primary">Lock</span></p>
            <p class="content"><span class="has-text-info has-text-weight-bold">OK</span> confirms completion of your Shift</p>
            <p class="content">All TSL Holders of Vehicles driven are sent a copy of your logbook.</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">6. Done</span>
    </header>
</div>