<div id="header-region">
    <div role="navigation" class="navbar navbar-default" id="js-nav">
        <div class="container margin-top-20">
            <div class="navbar-header">
                <h1><a href="/">Logmate</a></h1>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav nav-pills navbar-nav navbar-right">


                    <li class="js-nav-item">
                        <a class="js-nav-item" href="/drivers.html" target="_self">Drivers</a>
                    </li>

                    <li class="js-nav-item">
                        <a class="js-nav-item" href="/operators.html" target="_self">Operators</a>
                    </li>

                    <li class="js-nav-item">
                        <a class="js-nav-item" href="/pricing.html" target="_self">Pricing</a>
                    </li>

                    <li class="js-nav-item">
                        <a class="js-nav-item" href="https://help.logmate.co.nz" target="_self">Support</a>
                    </li>

                    <li class="js-nav-item">
                        <a class="js-nav-item" href="/about.html" target="_self">About</a>
                    </li>

                </ul>
headerrrrrrr
                <div class="ccm-spacer">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
