<section class="section" style="padding-top: 40px; padding-bottom: 40px; border-top: 1px solid lightgrey;">
    <div class="columns has-text-centered">
        <div class="column">
            <a type="button" href="http://play.google.com/store/apps/details?id=nz.co.logmate.app"><img src="images/googleplay.png" alt="Available from Google Play" class="bg-black appstore-boxes"></a>
        </div>
        <div class="column">
            <a type="button" href="https://itunes.apple.com/nz/app/logmate/id881398880?mt=8&amp;uo=4" target="itunes_store"><img src="images/appstore.png" alt="Available on the AppStore" class="bg-black appstore-boxes"></a>
        </div>
    </div>
</section>