<section class="hero is-small" >
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns is-vcentered">
                <div class="column is-half has-text-centered">
                    <h1 class="title is-1" style="padding-bottom: 20px;">
                        Trusted <span style="font-style: italic; font-size: larger">Work-time</span> compliance tools
                    </h1>
                    <div class="container ">
                        <img src="images/nzta-approved.png" alt="logmate is an NZ Transport Agency approved Electronic Logbook platform" />
                    </div>
                </div>
                <div class="column">
                    <img src="images/v2-devices.png" alt="logmate tools include a logbook app and admin portals">
                </div>
            </div>
        </div>
    </div>
</section>