<section class="hero is-small" >
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns is-vcentered">
                <div class="column is-half has-text-centered">
                    <h1 class="title is-1" style="padding-bottom: 20px; font-style: italic">
                        <span style="font-style: normal; font-size: smaller">Potent</span><br /> Work-time compliance <br /><span style="font-size: smaller; font-style: normal">tools</span>
                    </h1>
                    <div class="container ">
                        <img src="images/nzta-approved.png" alt="logmate is an NZ Transport Agency approved Electronic Logbook platform" />
                    </div>
                </div>
                <div class="column">
                    <figure class="image ">
                        <img src="images/v2-devices.png" alt="logmate tools include a logbook app and admin portals">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>