<section class="section" style="">
    <div class="columns is-centered has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">Logbook <span class="icon gold"><i class="fa fa-trophy"></i></span>  Legends</h3>
        </div>
    </div>
    <div class="columns is-centered is-multiline is-vcentered is-mobile has-text-centered">
        {{ $list := .Site.Data.home.logbook_legends }}
        {{ $len := (len $list) }}
        {{ range $i,$c := $list }}
        {{ $full_name := print $c.first_name " " $c.family_name }}



        <div class="column is-2 ">
            <div class="card">
                <div class="card-content">
                    <div class="columns is-centered is-mobile">
                        <div class="column is-narrow">
                            <figure class="image is-96x96">
                                {{ $f := $c.avatar.file_name | default "https://bulma.io/images/placeholders/96x96.png" }}
                                <img title="{{ $full_name }}" src="{{ $f | relURL }}" alt="{{ $full_name }}"
                                     class="is-rounded">
                            </figure>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                {{$p := "images/np_medal_811626_000000.svg"}}
                                <img src="{{ $p | relURL }}" alt="medal">
                            </figure>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-7">{{ $c.first_name }}</h4>
                            <h5 class="subtitle is-7">{{ $c.family_name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-footer-item">
                        <div class="tags has-addons">
                            <span class="tag is-dark">since</span>
                            <span class="tag is-warning">{{ dateFormat "2006" $c.created_at}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ end }}
    </div>
</section>