<section class="" style="padding-top: 40px; padding-bottom: 40px; border-top: 1px solid lightgrey;">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-4">
                <p style="text-align: center; font-size: xx-large">
                    <span class="fas fa-fire-extinguisher"></span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Risk Mitigation
                    </span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="">
                    Reduce risk of Fines &amp; Prosecution.
                    </span>
                </p>
            </div>
            <div class="column is-4">
                <p style="text-align: center; font-size: xx-large">
                    <span class="fas fa-balance-scale"></span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Compliance
                    </span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    Meet your <span style="font-style: italic">Health &amp; Safety process</span> obligations.<br />
                    Streamline your <span style="font-style: italic">Logbook compliance</span> administration.
                </p>
            </div>
            <div class="column is-4">
                <p style="text-align: center; font-size: xx-large">
                    <span class="fas fa-medal"></span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="font-weight: bold">
                        Industry leadership
                    </span>
                </p>
                <p style="text-align: center; font-size: large; margin-top: 10px;">
                    <span style="">
                    Demonstrate a <span style="font-style: italic">genuine commitment</span> to Safety.
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>